.container {
    width: 100%;
    height: 100%;
    color: blanchedalmond;
    object-fit: cover;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;

    padding-top: 100px;
}

body {
    background-color: darkcyan;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item{
    width: 100%;
    height: auto;;
   
}

.item--1 {
    text-align: center;
    margin-top: 50px;
}

.item--1 h1 {
    padding-top: 60px;
}

.item--2 {
    position: relative;
    width: 100%;
    height: auto;  
    text-align: center;
    padding-top: 50px; 
}

.item--3 {
    text-align: center;
    margin-top: 50px;
}

.item--3 h1 {
    padding-top: 60px;
}

    .item--4 {
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 50px;
    }

    .item--5 {
        text-align: center;
        margin-top: 50px;
    }
    
    .item--5 h1 {
        padding-top: 60px;
    }

.item--6 {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 50px;
}

.navbar {
    text-align: right;
}

.navbar-brand {
    text-align: center;
    padding-left: 200px;
}

.item--3.eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; 
    text-align: center; 
    padding-bottom: 50px;
  }
  
  .eye {
    width: 240px;
    height: 120px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .ball {
    width: 80px;
    height: 80px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .pacImgText img{
    position: relative;
    display: block;
    margin: 0 auto;
    padding-right: 50px;
  }

  .busImg img{
    display: block;
    margin: 0 auto;
  }  

  .navbar {
    text-align: center;
    padding-left: 80px;
}

img {
    display: block;
    padding-left: 50px;
}

a {
    color: snow;
    
}

a:hover {
    color: black;
    background-color: blanchedalmond;
}

.eyelink {
    text-align: center;
}

.item--1, .item--3, .item--5 {
    background-color: darkgray;
}